.header__input {
  margin: 0;
  padding: 0 0 0 39px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 400;
  border: none;
  align-content: center;
}

@media (max-width: 500px) {
  .header__input {
    width: -webkit-fill-available;
  }
}

