.header__logo {
  margin: 0;
  padding: 0;
  width: 135px;
}

@media (max-width: 1200px) {
  .header__logo {
    margin: 0 0 0 20px;
  }
}

@media (max-width: 475px) {
  .header__logo {
    margin: 17px auto 16px 21px;
  }
}
