.partners__card {
  margin: 0;
  padding: 0 30px 0 0;
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners__card:nth-child(4) {
  padding: 0;
}

@media (max-width: 1200px) {
  .partners__card {
    width: 230px;
    height: 120px;
    padding: 0;
  }
}

@media (max-width: 500px) {
  .partners__card {
    
  }
}

@media (max-width: 500px) {
  .partners__card {
    margin-bottom: 20px;
  }
  .partners__card:last-of-type{
    margin-bottom: 73px;
  }
}
